<h3><button (click)="createShow()">Crea un nuovo spettacolo</button></h3>

<fieldset *ngIf="creation">
  <legend>Inserisci le dimensioni di platea e palchi</legend>
  Platea di
  <input
    type="number"
    step="1"
    min="1"
    max="15"
    value="10"
    placeholder="Numero di file platea..."
    #numberColumnParterre
    (click)="setColumnParterre(numberColumnParterre.value)"
  />
  posti disposti in
  <input
    type="number"
    step="1"
    min="1"
    max="15"
    value="7"
    placeholder="Numero di file platea..."
    #numberRowParterre
    (click)="setRowParterre(numberRowParterre.value)"
  />
  file.
  <br />
  Palco di
  <input
    type="number"
    step="1"
    min="1"
    max="15"
    value="6"
    placeholder="Numero di file platea..."
    #numberColumnStage
    (click)="setColumnStage(numberColumnStage.value)"
  />
  posti disposti in
  <input
    type="number"
    step="1"
    min="1"
    max="15"
    value="4"
    placeholder="Numero di file platea..."
    #numberRowStage
    (click)="setRowStage(numberRowStage.value)"
  />
  file.
  <br /><br />
  <button (click)="confirmCreation()">Conferma la creazione!</button>
</fieldset>

<h3>{{ notification }}</h3>