.btn-toolset {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.2;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #007BFF;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid #006FE6;
  cursor: pointer;
 }
 .btn-toolset:hover {
  background-color: #0063CC;
  border-color: #0056B3;
 }
 .btn-toolset > strong {
  font-size: 24px;
 }
 legend { /* Text and background colour, blue on light gray */
  color:#00f;
  background-color:#ddd;
  }
  