<fieldset *ngIf="chiave != undefined">
  <legend>
    Inserisci il nome per cui prenotare
  </legend>
  <input
    placeholder="Inserisci il nome"
    class="inputName"
    #Name
    (keyup.enter)="cambiaNome(Name.value); Name.value = ''"
  />
  <br /><br />
  Seleziona prenotazione veloce:
  <input type="checkbox" #input (click)="setFastReservation(input.checked)" />
</fieldset>
<fieldset *ngIf="chiave != undefined">
<div *ngIf="name !== undefined">
  <div *ngIf="fastReservation == false">
    <p>
      <b> {{ name }}, premi sui posti che vuoi prenotare!<br/></b>.
    </p>
  </div>
  <div *ngIf="fastReservation==true">
    <p> <b>abbiamo salvato il tuo nome {{ name }}, ora clicca sui posti per prenotarli all'istante</b>!</p>
  </div>
</div>
</fieldset>