<!--title -->
<hello name="{{ title }}"></hello>

  <button (click)="setReservation()">
    Prenota il biglietto per uno spettacolo
  </button>

  <app-create-theater (newShow)="this.showList.push($event)"></app-create-theater>

  <fieldset *ngIf="reservation">
    <legend>Inserisci la chiave associata allo spettacolo e premi invio</legend>
    <input
      class="inputKey"
      #key
      (keyup.enter)="selezionaEvento(key.value); key.value = ''"
      placeholder="Inserisci qui la chiave"
    />
  </fieldset>

 