<!--title -->
<hello name="{{ title }}"></hello>
  <button class = "btn-toolset" (click)="setReservation()">
    Prenota il biglietto per uno spettacolo
  </button>

<!-- Creazione di un nuovo spettacolo-->
<app-create-theatre (creaEvento)="setTheatre($event)"></app-create-theatre>
  <fieldset *ngIf="reservation">
    <legend>Inserisci la chiave associata allo spettacolo e premi invio</legend>
    <input
      class="inputKey"
      #key
      (keyup.enter)="selezionaEvento(key.value); key.value = ''"
      placeholder="Inserisci qui la chiave"
    />
  </fieldset>

  <!-- Lista spettacoli disponibili-->
<div *ngIf="reservation">
  <h3>Chiavi spettacoli disponibili:</h3>
  <div *ngFor="let show of listaEventi">
    {{ show }}
  </div>
</div>

<!-- Titolo dello spettacolo selezionato -->
<h2 *ngIf="chiaveEventoAttivo != undefined">Spettacolo con codice "{{ chiaveEventoAttivo }}"</h2>
<!-- Form di inserimento nome per la prenotazione -->
<app-get-reservation
  [key]="chiaveEventoAttivo"
  (newBookerName)="bookerName = $event"
  (isFastReservation)="fastReservation = $event"
></app-get-reservation>

<!-- Visualizzazione teatro e selezione dei posti -->
<app-openreservation
  *ngIf="bookerName != undefined"
  [platea]="platea"
  [stage]="stage"
  [bookerName]="bookerName"
  [fastReservation]="fastReservation"
  (postoSelezionato)="setNewSeat($event)"
></app-openreservation>
<!-- Conferma prenotazione -->
<button class = "btn-toolset"
  *ngIf="
    seat != undefined &&
    bookerName != undefined &&
    seat.oldName == 'x' &&
    !fastReservation
  "
  (click)="confirmReservation()"
>
  Conferma prenotazione!
</button>

<!-- Notifica di avvenuta prenotazione -->
<h2>{{ notifica }}</h2>
 