<!--title -->
<hello name="{{ title }}"></hello>

  <button (click)="setReservation()">
    Prenota il biglietto per uno spettacolo
  </button>

  

  <fieldset *ngIf="reservation">
    <legend>Inserisci la chiave associata allo spettacolo e premi invio</legend>
    <input
      class="inputKey"
      #key
      (keyup.enter)="selezionaEvento(key.value); key.value = ''"
      placeholder="Inserisci qui la chiave"
    />
  </fieldset>

  <!-- Lista spettacoli disponibili-->
<div *ngIf="reservation">
  <h3>Chiavi spettacoli disponibili:</h3>
  <div *ngFor="let show of listaEventi">
    {{ show }}
  </div>
</div>

 